/* style.css */
*{
    /* outline: 1px solid red; */
}

body {
    font-family: Arial, sans-serif;
    background: #f2f4f8;
    text-align: center;
    padding: 2rem;
}
  
.container {
    max-width: 800px;
    margin: 0 auto;
}
  
input {
    padding: 10px;
    width: 200px;
    font-size: 16px;
}
  
button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
  
.evolution-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    gap: 20px;
}
  
.card {
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    cursor: pointer;

    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s forwards;
}

.card:nth-child(1) { animation-delay: 0s; }
.card:nth-child(2) { animation-delay: 0.2s; }
.card:nth-child(3) { animation-delay: 0.4s; }

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 200px;
    height: auto;
}

.stage-label {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
    font-style: italic;
}
  

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
  
.modal-content {
    background: white;
    padding: 20px;
    border-radius: 12px;
    max-width: 400px;
    width: 90%;
    text-align: left;
    position: relative;
}
  
.close-button {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 24px;
    cursor: pointer;
}


  
  
@keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
}